<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class= "bg-[#F9EBC7] flex justify-center">
    <div>
            <div>
                <h1 class= "text-[#783D19] text-6xl font-sans text-center" > ¡Mba'éichapa! </h1>
            </div>        

            <div class="flex justify-center my-24">
                <img src= "/static/image/logo_final.png" alt="Logo de carpi">
            </div>
            
            <div class= "text-center font-sans my-24" >
                <form action="/" method="post">
                    <button  class= "text-[#5F6F52] text-3xl rounded-full bg-[#A9B38B] transition ease-in-out delay-150 bg-[#A9B38B] hover:-translate-y-1 hover:scale-110 hover:bg-[#A9B38B] duration-300 border-rose-800" type="submit">ESCANEAR</button>
                </form>

            </div>
            <div >
                <h2 class="text-[#783D19] font-sans text-3xl text-center">Transformamos residuos en tesoros: ¡Conoce nuestro proyecto de reciclaje!</h2>
            </div>

            
    </div>
</body>
</html>| 
